<h3 style="margin-bottom: 30px; margin-top: 30px;">Books App</h3>

<table class="table table-bordered">
    <tr class="active">
        <th><button ng-click="vm.imageToggle()">{{ vm.imageShowed ? "Hide" : "Show" }} Image</button></th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Date</th>
    </tr>

    <tr ng-repeat="product in vm.products">
        <td><img ng-if="vm.imageShowed" height="50" width="50" class="img-rounded" ng-src="imgs/{{product.imageUrl}}"</td>
        <td><a ui-sref="productDetail({productId: product._id})">{{product.title}}</a></td>
        <td>{{product.author}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.date | date}}</td>
    </tr>

</table>